@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
header {
    background-color: #6e6e6e;
}
h1 {
    color: #baff39;
}
#about-box {
    background-color: #6e6e6e;
}
#plans-box {
    background-color: #6e6e6e;
}