/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*Header*/
header {
    background-color: #6e6e6e;
}
/*Main Content*/
main {
    background-color: #ffffff;
}
/*Footer*/
footer {
    background-color: #6e6e6e;
}